# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
venv.bak

# Data files to ignore completely
# We only want to track the cleaned data and model with Git LFS
*.csv

# IDE / Editor specific
.vscode/
.idea/